:root {
  --background: #ffffff;
  --foreground: #171717;
}

.lxgw-wenkai-mono-tc-regular {
  font-family: "LXGW WenKai Mono TC", monospace;
  font-weight: 400;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: rgb(171, 170, 170);  /* fallback for old browsers */
 
  /* background-image: url('../public/coffeShop.jpg');
  background-size: contain; */
  /* ;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-blend-mode: multiply;
  filter: contrast(1.1) brightness(0.95);
  
  background: rgba(169, 98, 96, 0.5); */
  color: white;
  font-family: "Noto Serif HK", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
